[Unit]
Description=Neo4j REST API Server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/wikimapper-server
ExecStart=/opt/wikimapper-server/wikimapper-server
Restart=on-failure
RestartSec=5
User=www-data
Group=www-data
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

